@use '@/styles/_helpers' as *;

.contentBox {
  position: relative;
  z-index: 9;
  opacity: 0;
  animation: hideBlur 0.5s ease-in-out forwards;
  @extend %fullScreenView;

  &.active {
    animation: showBlur 0.5s ease-in-out 0.6s forwards;
  }

  h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 56px;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }

    @include mobile {
      max-width: 343px;
      margin: 0 auto 40px;
      overflow: hidden;
      background: radial-gradient(#151823f6 60%, transparent 70%);
      position: relative;
      z-index: 1;
    }
  }
}

.blockBox {
  position: relative;
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 8px 0;
  margin: 0 auto;
  width: fit-content;

  @include tablet {
    grid-template-columns: 360px 360px;
  }

  @include mobile {
    grid-template-columns: 343px;
    grid-template-rows: repeat(4, 100vh);
    height: calc(100vh - 200px);
    transition: transform 1s ease-in-out;
  }

  &.screen1_1 {
    transform: translateY(-00vh);
  }

  &.screen1_2 {
    transform: translateY(-101vh);
  }

  &.screen1_3 {
    transform: translateY(-202vh);
  }

  &.screen1_4 {
    transform: translateY(-303vh);
  }
}

.verticalLine {
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0%;
    width: 1px;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 19.48%
    );
    transition: opacity 0.3s ease-in-out, height 1s ease-in-out;

    @include mobile {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 0%;
    width: 1px;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 86.35%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: opacity 0.3s ease-in-out, height 1s ease-in-out;

    // @include mobile {
    // width: 0;
    // height: 1px;
    // bottom: auto;
    // top: calc(153vh);
    // left: 0;
    // background: linear-gradient(
    //   45deg,
    //   rgba(255, 255, 255, 0) 0%,
    //   rgba(255, 255, 255, 0.2) 50%,
    //   rgba(255, 255, 255, 0) 100%
    // );
    // }

    @include mobile {
      display: none;
    }
  }

  &.active {
    &::before {
      height: 50%;

      // @include mobile {
      //   height: 1px;
      //   width: 100%;
      // }
    }
    &::after {
      height: 50%;

      // @include mobile {
      //   height: 1px;
      //   width: 100%;
      // }
    }
  }
}

.horizontalLine {
  &::before {
    content: '';
    position: absolute;
    right: 50%;
    top: 47%;
    height: 1px;
    width: 0%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 19.48%
    );
    transition: opacity 0.3s ease-in-out, width 1s ease-in-out;

    @include tablet {
      top: 49%;
    }

    // @include mobile {
    //   width: 0;
    //   top: 50vh;
    //   right: 0;
    //   background: linear-gradient(
    //     45deg,
    //     rgba(255, 255, 255, 0) 0%,
    //     rgba(255, 255, 255, 0.2) 50%,
    //     rgba(255, 255, 255, 0) 100%
    //   );
    // }
    @include mobile {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 47%;
    height: 1px;
    width: 0%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 86.35%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: opacity 0.3s ease-in-out, width 1s ease-in-out;

    @include tablet {
      top: 49%;
    }

    // @include mobile {
    //   width: 0;
    //   top: 100vh;
    //   left: 0;
    //   background: linear-gradient(
    //     45deg,
    //     rgba(255, 255, 255, 0) 0%,
    //     rgba(255, 255, 255, 0.2) 50%,
    //     rgba(255, 255, 255, 0) 100%
    //   );
    // }
    @include mobile {
      display: none;
    }
  }

  &.active {
    &::before {
      width: 50%;

      // @include mobile {
      //   width: 100%;
      // }
    }
    &::after {
      width: 50%;

      // @include mobile {
      //   width: 100%;
      // }
    }
  }
}

.blockItem {
  max-width: 600px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  opacity: 0;
  animation: hideBlur 0.5s ease-in-out forwards;

  &.active {
    animation: showBlur 0.5s ease-in-out 0.6s forwards;
  }

  @include tablet {
    max-width: 360px;
  }

  span {
    color: $neutral-white-main;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
  p {
    text-align: center;
    color: $neutral-white-main;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.icon {
  box-shadow: 0px 8px 16px 0px rgba(12, 14, 21, 0.3);
  position: relative;
  width: 106px;
  height: 106px;
  background: linear-gradient(170deg, #ffffff32 60%, transparent 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    animation: pulse 2.3s infinite 1.5s;
  }

  &::after {
    content: '';
    position: absolute;
    width: 104px;
    height: 104px;
    left: 1px;
    top: 1px;
    background: rgb(32, 36, 46);
    border-radius: 50%;
  }

  img {
    position: relative;
    z-index: 1;
  }
}
