@use '@/styles/_helpers' as *;

.checkbox {
  min-width: 20px;
  height: 20px;
  padding: 3px;
  display: inline-block;
  background: #1c1f29;
  border: 2px solid #707e8f;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
  position: relative;
  margin-top: 2px;

  &.active {
    border-color: white;
    background: $mainColor;
    animation: bounce 0.3s ease-in;
  }

  path {
    transition: 0.2s ease-in-out;
  }

  &Title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    a {
      color: $accent-blue-main;
      transition: 0.2s ease-in-out;

      &:hover {
        color: #baa7f6b7;
      }
    }
  }
}

.label {
  user-select: none;
  display: flex;
  gap: 10px;
  cursor: pointer;

  input {
    display: none;
  }
}

@keyframes bounce {
  0% {
    box-shadow: 0px 0px 0px -1px #8284ea81;
    transform: scale(1);
  }

  50% {
    box-shadow: 0px 0px 0px 4px #8284ea4a;
    transform: scale(0.92);
  }

  100% {
    box-shadow: 0px 0px 0px 4px #8284ea00;
    transform: scale(1);
  }
}
