@use '@/styles/_helpers' as *;

.modalBox {
  width: 580px;
  border-radius: 24px;
  border: 2px solid var(--neutral-stroke-grey-main, #2c2f39);
  // background: lightgray 0% 0% / 100px 100px repeat, rgba(191, 191, 191, 0.05);
  background: rgba(163, 163, 163, 0.05);
  box-shadow: 0px 48px 96px 0px rgba(14, 17, 26, 0.25);
  backdrop-filter: blur(38px);
  padding: 40px;

  @media screen and (max-width: 1065px) {
    width: 450px;
  }

  @media screen and (max-width: 616px) {
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  @include mobile {
    padding: 24px 16px;
  }

  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  button {
    margin-top: 24px;
  }
}
