@use '@/styles/_helpers' as *;

.modalBox {
  width: 580px;
  border-radius: 24px;
  border: 2px solid var(--neutral-stroke-grey-main, #2c2f39);
  background: rgba(163, 163, 163, 0.05);
  backdrop-filter: blur(38px);
  padding: 40px;

  @media screen and (max-width: 1065px) {
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
  }

  @include mobile {
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 24px 16px;
  }

  form {
    margin-top: 40px;
    gap: 18px;
    display: grid;
    grid-template-rows: 52px 52px 100px auto 64px;
    grid-template-areas:
      'input1 input1'
      'input2 input3'
      'input4 input4'
      'checkbox checkbox'
      'button button';

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    div:nth-child(1) {
      grid-area: input1;
    }
    div:nth-child(2) {
      grid-area: input2;
    }
    div:nth-child(3) {
      grid-area: input3;
    }
    div:nth-child(4) {
      grid-area: input4;
    }
    div:nth-child(5) {
      grid-area: checkbox;
    }
    > button {
      grid-area: button;
    }
  }
}
