@use '@/styles/_helpers' as *;

.contentBox {
  position: relative;
  z-index: 9;
  @extend %fullScreenView;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding-top: 100px;
    margin-bottom: 120px;
    min-height: fit-content;
  }

  &.mobileActive {
    h2 {
      animation: showBlur 0.5s ease-in-out forwards;
    }

    .mobilePlanet {
      animation: planetMobile 1s ease-in-out 0.5s forwards;
    }
    .mobileLine {
      animation: showBlur 1s ease-in-out 0.5s forwards;
    }

    .cardBox:nth-child(1)::after,
    .cardBox:nth-child(1)::before,
    .cardBox:nth-child(1) .card,
    .cardBox:nth-child(1) .number {
      animation: show 0.5s ease-in-out 0.5s forwards;
    }

    .cardBox:nth-child(2)::after,
    .cardBox:nth-child(2)::before,
    .cardBox:nth-child(2) .card,
    .cardBox:nth-child(2) .number {
      animation: show 0.5s ease-in-out 1s forwards;
    }

    .cardBox:nth-child(3)::after,
    .cardBox:nth-child(3)::before,
    .cardBox:nth-child(3) .card,
    .cardBox:nth-child(3) .number {
      animation: show 0.5s ease-in-out 1.5s forwards;
    }

    .cardBox:nth-child(4)::after,
    .cardBox:nth-child(4)::before,
    .cardBox:nth-child(4) .card,
    .cardBox:nth-child(4) .number {
      animation: show 0.5s ease-in-out 2s forwards;
    }

    .cardBox:nth-child(5)::after,
    .cardBox:nth-child(5)::before,
    .cardBox:nth-child(5) .card,
    .cardBox:nth-child(5) .number {
      animation: show 0.5s ease-in-out 2.5s forwards;
    }

    .cardBox:nth-child(6)::after,
    .cardBox:nth-child(6)::before,
    .cardBox:nth-child(6) .card,
    .cardBox:nth-child(6) .number {
      animation: show 0.5s ease-in-out 3s forwards;
    }
  }

  &.active {
    .line::after {
      animation: line 4s ease-out forwards;
    }

    h2 {
      animation: showBlur 0.5s ease-in-out 0.5s forwards;
    }

    .cardBox:nth-child(1)::after,
    .cardBox:nth-child(1)::before,
    .cardBox:nth-child(1) .card,
    .cardBox:nth-child(1) .number {
      animation: show 0.5s ease-in-out 1s forwards;
    }

    .cardBox:nth-child(4)::after,
    .cardBox:nth-child(4)::before,
    .cardBox:nth-child(4) .card,
    .cardBox:nth-child(4) .number {
      animation: show 0.5s ease-in-out 1.25s forwards;
    }

    .cardBox:nth-child(2)::after,
    .cardBox:nth-child(2)::before,
    .cardBox:nth-child(2) .card,
    .cardBox:nth-child(2) .number {
      animation: show 0.5s ease-in-out 1.75s forwards;
    }

    .cardBox:nth-child(5)::after,
    .cardBox:nth-child(5)::before,
    .cardBox:nth-child(5) .card,
    .cardBox:nth-child(5) .number {
      animation: show 0.5s ease-in-out 2s forwards;
    }

    .cardBox:nth-child(3)::after,
    .cardBox:nth-child(3)::before,
    .cardBox:nth-child(3) .card,
    .cardBox:nth-child(3) .number {
      animation: show 0.5s ease-in-out 2.5s forwards;
    }

    .cardBox:nth-child(6)::after,
    .cardBox:nth-child(6)::before,
    .cardBox:nth-child(6) .card,
    .cardBox:nth-child(6) .number {
      animation: show 0.5s ease-in-out 2.75s forwards;
    }
  }

  &.isNoAnimation {
    .line::after {
      animation: line 1s ease-out forwards;
    }

    .cardBox:nth-child(1)::after,
    .cardBox:nth-child(1)::before,
    .cardBox:nth-child(1) .card,
    .cardBox:nth-child(1) .number {
      animation: show ease-in-out forwards;
    }

    .cardBox:nth-child(2)::after,
    .cardBox:nth-child(2)::before,
    .cardBox:nth-child(2) .card,
    .cardBox:nth-child(2) .number {
      animation: show ease-in-out forwards;
    }

    .cardBox:nth-child(3)::after,
    .cardBox:nth-child(3)::before,
    .cardBox:nth-child(3) .card,
    .cardBox:nth-child(3) .number {
      animation: show ease-in-out forwards;
    }

    .cardBox:nth-child(4)::after,
    .cardBox:nth-child(4)::before,
    .cardBox:nth-child(4) .card,
    .cardBox:nth-child(4) .number {
      animation: show ease-in-out forwards;
    }

    .cardBox:nth-child(5)::after,
    .cardBox:nth-child(5)::before,
    .cardBox:nth-child(5) .card,
    .cardBox:nth-child(5) .number {
      animation: show ease-in-out forwards;
    }

    .cardBox:nth-child(6)::after,
    .cardBox:nth-child(6)::before,
    .cardBox:nth-child(6) .card,
    .cardBox:nth-child(6) .number {
      animation: show ease-in-out forwards;
    }
  }

  h2 {
    margin-top: -70px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 56px;
    opacity: 0;
    animation: hideBlur 0.5s ease-in-out forwards;

    @include tablet {
      margin-top: 0;
      font-size: 32px;
      line-height: 40px;
    }

    @include mobile {
      max-width: 343px;
      margin: 0 auto 60px;
      overflow: hidden;
      // background: radial-gradient(#181822f6 60%, transparent 70%);
      position: relative;
      z-index: 1;
    }
  }
}

.cardsBox {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 5em 2em;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  max-width: 1600px;
  margin: 0 auto;

  @include laptop {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    gap: 4em 2.5em;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 4em 2em;
  }

  @include tablet {
    grid-template-columns: minmax(295px, 477px);
    gap: 2em;
  }

  @media screen and (max-width: 674px) {
    grid-template-columns: 1fr;
    gap: 52px;
  }
}

.mobilePlanet {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 00px;
    right: -10%;
    transform: rotate(90deg);
    opacity: 0;
    border-radius: 50%;
  }

  @include mobile {
    right: -30%;
  }
}

.card {
  border-radius: 24px;
  border: 1px solid var(--neutral-white-background-active, #2c2f39);
  box-shadow: 0px 16px 32px 0px rgba(21, 24, 35, 0.06);
  padding: 1.5em;
  -webkit-backdrop-filter: blur(9px); /* Safari 9+ */
  backdrop-filter: blur(9px); /* Chrome, Firefox, Opera */
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 325px;
  height: 140px;
  opacity: 0;
  animation: hide 0.5s ease-in-out forwards;

  @include laptop {
    max-width: 100%;
  }

  @media screen and (max-width: 674px) {
    width: calc(100% - 40px);
    margin: 0 40px;
    height: auto;
    padding: 1em;
    max-width: none;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.3em;

    @media screen and (max-width: 674px) {
      font-size: 1em;
      margin-bottom: 0.5em;
    }
  }

  p {
    max-width: 429px;
    line-height: 150%;
    font-weight: 300;

    @include tablet {
      font-weight: 400;
      color: #ffffffbe;
    }
  }
}

.cardBox {
  position: relative;
  width: 100%;
  max-width: 325px;
  height: 140px;
  margin: 0 auto;

  @include laptop {
    max-width: 100%;
  }

  @media screen and (max-width: 674px) {
    width: calc(100% - 40px);
    margin: 0 40px;
    height: auto;
    max-width: none;
  }

  // Первая строка (1, 2, 3) - линии идут вниз
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    @include noTablet {
      margin-left: -3em;
    }

    @include tablet {
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: calc(-1.5em - 13px);
      left: calc(50% - 37px);
      background-image: url(../../../public/icons/shadow-circle.svg);
      background-size: contain;
      width: 75px;
      height: 75px;
      z-index: 9;
      opacity: 0;
      animation: hide 0.5s ease-in-out forwards;

      @include tablet {
        left: calc(-1.5em - 13px);
        bottom: calc(50% - 37px);
      }

      @media screen and (max-width: 674px) {
        top: calc(-1.5em - 13px);
        left: calc(50% - 17px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: calc(-1.5em - 20px);
      left: 50.1%;
      width: 1px;
      height: 40px;
      background: rgba(255, 255, 255, 0.65);
      z-index: 5;
      opacity: 0;
      animation: hide 0.5s ease-in-out forwards;

      @include tablet {
        left: calc(-5em - 8px);
        bottom: 50.1%;
        width: 88px;
        height: 1px;
      }

      @media screen and (max-width: 674px) {
        display: none;
      }
    }
  }

  // Вторая строка (4, 5, 6) - линии идут вверх
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    @include noTablet {
      margin-left: 3em;
    }

    @include tablet {
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: calc(-1.5em - 12px);
      left: calc(50% - 37px);
      background-image: url(../../../public/icons/shadow-circle.svg);
      background-size: contain;
      width: 75px;
      height: 75px;
      z-index: 9;
      opacity: 0;
      animation: hide 0.5s ease-in-out forwards;
      @include tablet {
        left: calc(-1.5em - 13px);
        top: calc(50% - 37px);
      }

      @media screen and (max-width: 674px) {
        top: calc(-1.5em - 13px);
        left: calc(50% - 17px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(-1.5em - 12px);
      left: 50.1%;
      width: 1px;
      height: 40px;
      background: rgba(255, 255, 255, 0.65);
      z-index: 5;
      opacity: 0;
      animation: hide 0.5s ease-in-out forwards;

      @include tablet {
        left: calc(-5em - 8px);
        top: 50.1%;
        width: 88px;
        height: 1px;
      }

      @media screen and (max-width: 674px) {
        display: none;
      }
    }
  }

  @include tablet {
    &:nth-child(1) {
      margin-left: -5em;

      @include tablet {
        &::after {
          left: calc(-1.5em - 16px);
          bottom: 50.1%;
          width: 40px;
          height: 1px;
        }
      }

      @media screen and (max-width: 674px) {
        margin-left: 0;
      }
    }

    &:nth-child(3) {
      margin-left: -5em;

      @include tablet {
        &::after {
          left: calc(-1.5em - 16px);
          top: 50.1%;
          width: 40px;
          height: 1px;
        }
      }

      @media screen and (max-width: 674px) {
        margin-left: 0;
      }
    }
  }
}

.number {
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  right: -15%;
  top: 0;
  font-size: 13.5em;
  line-height: 72%;
  z-index: 1;
  opacity: 0;
  animation: hide 0.5s ease-in-out forwards;

  @media screen and (max-width: 674px) {
    top: auto;
    right: -10%;
    bottom: -45px;
  }
}

.mobileLine {
  display: none;

  @include tablet {
    display: block;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.65) 19.48%,
      rgba(255, 255, 255, 0.65) 86.35%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 1px;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -89px;
    opacity: 0;
    // filter: blur(5px);
  }

  @media screen and (max-width: 674px) {
    left: 50%;
  }
}

.line {
  &::after {
    content: '';
    position: absolute;
    left: -40vh;
    left: -100%;
    top: 41.7%;
    height: 1px;
    width: 0%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.65) 86.35%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: lineReverse 1.5s ease-out forwards;
  }

  @include tablet {
    display: none;
  }
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: calc(100% + 90vw);
  }
}

@keyframes lineReverse {
  0% {
    width: calc(100% + 90vw);
  }

  100% {
    width: 0%;
  }
}

@keyframes planetMobile {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}
