@use '@/styles/_helpers' as *;

.contentBox {
  position: relative;
  z-index: 9;
  opacity: 0;
  animation: hide 0.5s ease-in-out forwards;
  @extend %fullScreenView;

  &.active {
    animation: show 0.5s ease-in-out 0.6s forwards;
  }

  @include tablet {
    min-height: fit-content;
    padding-top: 100px;

    &.mobileActive {
      animation: show 0.5s ease-in-out 0.3s forwards;

      .mobilePlanet {
        animation: planetMobile 1s ease-in-out 0.5s forwards;
      }

      .mobileBox::after {
        animation: show 1s ease-in-out 1s forwards;
      }

      .mobileItem:nth-child(1) {
        animation: show 0.5s ease-in-out 0.6s forwards;
      }
      .mobileItem:nth-child(2) {
        animation: show 0.5s ease-in-out 1.1s forwards;
      }
      .mobileItem:nth-child(3) {
        animation: show 0.5s ease-in-out 1.6s forwards;
      }
      .mobileItem:nth-child(4) {
        animation: show 0.5s ease-in-out 2.1s forwards;
      }
      .mobileItem:nth-child(5) {
        animation: show 0.5s ease-in-out 2.6s forwards;
      }
    }

    &.noAnimation {
      animation: show ease-in-out forwards;

      .mobilePlanet {
        animation: planetMobile ease-in-out forwards;
      }

      .mobileBox::after {
        animation: show ease-in-out forwards;
      }

      .mobileItem:nth-child(1) {
        animation: show ease-in-out forwards;
      }
      .mobileItem:nth-child(2) {
        animation: show ease-in-out forwards;
      }
      .mobileItem:nth-child(3) {
        animation: show ease-in-out forwards;
      }
      .mobileItem:nth-child(4) {
        animation: show ease-in-out forwards;
      }
      .mobileItem:nth-child(5) {
        animation: show ease-in-out forwards;
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 56px;
    background: radial-gradient($background 50%, transparent 80%);
    border-radius: 50%;
    padding: 25px;
    width: fit-content;
    margin: 0 auto;

    @include tablet {
      font-size: 32px;
      background: transparent;
      padding-top: 0;
    }
  }
}

.textBox {
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 90px), calc(-50% - 85px));
  position: absolute;
  max-width: 680px;
  min-width: 680px;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: radial-gradient(#181822f6 60%, transparent 70%);
  padding: 50px;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out,
    transform 1s ease-in-out;

  @include tablet {
    display: none;
  }

  @media screen and (max-height: 865px) {
    transform: translate(calc(-50% - 90px), calc(-50% - 90px));
  }

  @media screen and (min-height: 1000px) {
    transform: translate(calc(-50% - 90px), calc(-50% - 78px));
  }

  @media screen and (min-height: 1200px) {
    transform: translate(calc(-50% - 90px), calc(-50% - 58px));
  }

  @media screen and (max-width: 1024px) {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  @include tablet {
    // transform: translate(calc(-20%), calc(-50% - 90px));
  }

  button {
    bottom: -40px;
    position: absolute;
    margin-top: 36px;
    transition: all 0.5s ease-in-out;
  }

  &.screen2_2 {
    transform: translate(calc(-19% - 52px), calc(-30% - 52px));

    @media screen and (max-height: 865px) {
      transform: translate(calc(-19% - 52px), calc(-30% - 64px));
    }

    @media screen and (min-height: 1200px) {
      transform: translate(calc(-19% - 52px), calc(-90% + 120px));
    }

    @media screen and (max-width: 1024px) {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  &.screen2_3 {
    transform: translate(calc(-52% - 55px), calc(-80% + 5px));

    @media screen and (max-height: 865px) {
      transform: translate(calc(-52% - 55px), calc(-80% - 13px));
    }

    @media screen and (min-height: 1200px) {
      transform: translate(calc(-52% - 55px), calc(-90% + 50px));
    }

    @media screen and (max-width: 1024px) {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  &.screen2_4 {
    transform: translate(calc(-22% - 64px), calc(-80% - 52px));

    @media screen and (max-height: 865px) and (max-width: 1537px) {
      transform: translate(calc(-22% - 64px), calc(-80% - 64px));
    }

    @media screen and (min-height: 1200px) {
      transform: translate(calc(-22% - 64px), calc(-90% - 6px));
    }

    @media screen and (max-width: 1024px) {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  &.screen2_5 {
    transform: translate(calc(-60% - 42px), calc(-32% - 41px));

    @media screen and (max-height: 865px) {
      transform: translate(calc(-60% - 42px), calc(-32% - 55px));
    }

    @media screen and (min-height: 1200px) {
      transform: translate(calc(-60% - 42px), calc(-90% + 125px));
    }

    @media screen and (max-width: 1024px) {
      position: absolute;
      transform: translate(-50%, -70%);
    }
  }

  @media screen and (min-width: 769px) {
    &.hide {
      opacity: 0;
      // filter: blur(4px);

      li {
        opacity: 0;
        // filter: blur(4px);
      }

      h3 {
        opacity: 0;
        // filter: blur(4px);
      }

      .circle {
        opacity: 0;
        // filter: blur(4px);
        // transform: translateY(-15px);
      }

      button {
        opacity: 0;
        // filter: blur(4px);
      }
    }
  }

  &.reverse {
    .circle img {
      left: auto;
      top: -95px;
      right: -165px;
    }

    h3 {
      width: 100%;
    }

    li {
      width: 100%;
    }
  }

  h3 {
    opacity: 1;
    // filter: blur(0px);
    text-align: right;
    width: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out,
      filter 0.5s ease-in-out;
    white-space: nowrap;

    @include tablet {
      font-size: 20px;
    }
  }

  li {
    opacity: 1;
    // filter: blur(0px);
    text-align: right;
    width: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out,
      filter 0.5s ease-in-out;
    white-space: nowrap;

    @include tablet {
      font-size: 16px;
    }
  }
}

.mobilePlanet {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 40px;
    right: -10%;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }

  @include mobile {
    right: -30%;
  }
}

.circle {
  position: relative;
  margin: -8px 0;
  opacity: 1;
  // filter: blur(0px);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out,
    transform 0.5s ease-in-out;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  img {
    position: absolute;
    left: -165px;
    top: -75px;
  }
}

.mobileBox {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    max-width: 480px;
    margin: 10px auto 160px auto;

    &::after {
      content: '';
      position: absolute;
      height: 110%;
      width: 1px;
      left: -20px;
      top: -5%;
      background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 19.48%,
        rgba(255, 255, 255, 1) 86.35%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: -1;
      opacity: 0;
      // filter: blur(5px);
    }
  }

  @media screen and (max-width: 554px) {
    max-width: 370px;
  }

  @include mobile {
    margin: 20px 16px 160px 48px;
  }
}

.mobileItem {
  opacity: 0;
  // filter: blur(5px);

  span {
    line-height: 120%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -36px;
      left: -46px;
      background-image: url(../../../public/icons/small-shadow-circle.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 75px;
      height: 75px;
      z-index: 9;
    }
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}

@keyframes planetMobile {
  0% {
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(45deg);
  }
}
