//------------- Variables --------------//

$font-family: 'ZonaPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  sans-serif;

$neutral-white-main: #f8fbff;
$accent-blue-main: #b9a7f6;

$neutral-stroke-grey-main: #2c2f39;
$neutral-black-hover: #1e212c;

$neutral-white-background-main: #1e212c;

$background: #181822;

$mainColor: var(--mainColor);
$textColor: var(--color1);

$black: var(--color1);
$white: var(--color2);
$grey: var(--color3);

$darkblue: var(--color4);
$middleblue: var(--color5);
$lightblue: var(--color6);

$error: var(--error);
$input: var(--input);
$monoChrome: var(--monoChrome);
$monoChromeReverse: var(--monoChromeReverse);
$mainMono: var(--mainMono);

//-------------- Mixins ---------------//

@mixin text($f, $lh) {
  font-size: $f;
  line-height: $lh;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin mobile {
  @media screen and (max-width: 441px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin macbook {
  @media screen and (max-height: 769px) {
    @content;
  }
}

@mixin noMobile {
  @media screen and (min-width: 440px) {
    @content;
  }
}

@mixin noTablet {
  @media screen and (min-width: 770px) {
    @content;
  }
}

//-------------- Extends ---------------//

%fullScreenView {
  min-height: 100vh;
  height: 100vh;
  max-height: -moz-available;
  max-height: -webkit-stretch;
  max-height: stretch;

  @include tablet {
    height: 100%;
    min-height: 100%;
  }
}

%border {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 2px 4px rgb(0 0 0 / 3%),
    0 3px 24px rgb(0 0 0 / 3%);
}

%scroll {
  &::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: #b5b1aed3;
    border-radius: 15px;

    &:hover {
      background: #868380d3;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

//-------------- Animations ---------------//

@keyframes showBlur {
  0% {
    opacity: 0;
    // filter: blur(3px);
  }
  100% {
    opacity: 1;
    // filter: blur(0px);
  }
}

@keyframes hideBlur {
  0% {
    opacity: 1;
    // filter: blur(0px);
  }
  100% {
    opacity: 0;
    // filter: blur(3px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.17);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.17);
  }
  70% {
    -moz-box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes shake {
  0% {
    left: 0;
  }
  15% {
    left: 10px;
  }
  30% {
    left: -10px;
  }
  45% {
    left: 10px;
  }
  60% {
    left: -10px;
  }
  75% {
    left: 10px;
  }
  90% {
    left: 0;
  }
}

@keyframes showScale {
  0% {
    opacity: 0;
    // filter: blur(3px);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    // filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes hideScale {
  0% {
    opacity: 1;
    // filter: blur(0px);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    // filter: blur(3px);
    transform: scale(0.8);
  }
}

@keyframes showTranslate {
  0% {
    opacity: 0;
    // filter: blur(3px);
    transform: translateY(22px);
  }
  100% {
    opacity: 1;
    // filter: blur(0px);
    transform: translateY(0);
  }
}

@keyframes hideTranslate {
  0% {
    opacity: 1;
    // filter: blur(0px);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    // filter: blur(3px);
    transform: translateY(22px);
  }
}
