@use '@/styles/_helpers' as *;

.pageBox {
  position: relative;
  overflow: hidden;
  @include customScroll($accent-blue-main, $background);
  height: 100dvh;

  @include tablet {
    margin-top: 45px;
    height: 100%;
  }

  :global {
    #lastPlanet {
      z-index: initial;

      @include tablet {
        display: none;
      }
    }

    #contact {
      @include tablet {
        padding-bottom: 280px;
      }
    }
  }
}

.planetBox {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 100%;
}
