@use '@/styles/_helpers' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  max-height: fill-available;
}

body {
  background: $background;
  color: $neutral-white-main;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
