@use '@/styles/_helpers' as *;

// ZonaPro Font Faces
@font-face {
  font-family: 'ZonaPro';
  src: url('/fonts/ZonaPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZonaPro';
  src: url('/fonts/ZonaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZonaPro';
  src: url('/fonts/ZonaPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  max-width: 100vw;

  @include tablet {
    overflow-y: scroll;
  }

  &.scrollLock {
    overflow-y: hidden !important;
  }
}

html.canScroll {
  overflow: initial;
  @extend %scroll;
}

body {
  font-family: $font-family;
  background: $background;
  color: $neutral-white-main;
  max-width: 100vw;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: url('/cursor.svg') 0 0, auto;

  button:hover,
  a:hover {
    cursor: url('/cursor-pointer.svg') 0 0, pointer;
  }

  &.noTransition * {
    transition: none !important;
  }

  @include tablet {
    position: relative;
  }

  &.canScroll {
    position: relative;
    overflow-y: scroll;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: calc(100vw - 100px);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
