@use '@/styles/_helpers' as *;

.pageBox {
  padding-top: 168px;
  height: 100%;

  @include tablet {
    padding-top: 100px;
  }

  h1 {
    color: var(--neutral-white-main, #f8fbff);
    font-size: 48px;
    font-weight: 600;
    line-height: 116.667%;
    max-width: 835px;

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  footer {
    position: relative;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet {
    font-size: 32px;
  }

  @include tablet {
    width: calc(100vw - 48px);
  }

  @include mobile {
    width: calc(100vw - 30px);
  }
}

.stickyWrapper {
  @include tablet {
    min-height: 32px;
  }
}

.stickyBox {
  position: sticky;
  padding-top: 24px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: $background;

  @include tablet {
    top: 80px;
    position: sticky;
    flex-direction: row;
    overflow-x: scroll;
    padding-top: 0;
    padding-bottom: 8px;
  }

  &.stickedMenu {
    position: fixed;
    top: 70px;
    width: calc(100% - 30px);
  }

  a {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    &.active {
      color: #f8fbff !important;
      font-weight: 600;
    }

    color: $accent-blue-main;
    transition: 0.2s ease-in-out;

    @include tablet {
      white-space: nowrap;
    }

    &:hover {
      color: #023b7e;
    }
  }
}

.textsBox {
  display: flex;
  gap: 40px;

  @include tablet {
    flex-direction: column-reverse;
    gap: 0px;
  }
}

.articlesBox {
  max-width: 787px;
  margin-top: -10px;

  > div {
    &::after {
      content: '';
      background: #2c2f39;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -10px;
      position: absolute;
    }
    &:last-child {
      margin-bottom: 80px;
      &::after {
        height: 0;
      }
    }
  }
}

.articleBox {
  padding: 34px 0 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.six {
    p:nth-of-type(1),
    p:nth-of-type(3) {
      font-weight: 600;
      margin-bottom: -16px;
    }

    p:nth-of-type(5) {
      font-weight: 600;
    }
  }

  h2 {
    color: #f8fbff;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin-top: -16px;
    padding-left: 16px;

    li {
      list-style: disc;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  p {
    color: #f8fbff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    span {
      font-weight: 600;
    }

    a {
      color: $accent-blue-main;
      transition: 0.2s ease-in-out;

      &:hover {
        color: #023b7e;
      }
    }
  }
}
