@use '@/styles/_helpers' as *;

.globalBox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:hover {
    b {
      color: #baa7f6b7;
    }

    svg path {
      fill: #baa7f6b7;
    }
  }

  &:active {
    b {
      color: $neutral-white-main;
    }

    svg path {
      fill: $neutral-white-main;
    }
  }

  b {
    transition: 0.3s ease-in-out;
    color: $accent-blue-main;
  }

  svg path {
    transition: 0.3s ease-in-out;
  }
}
