@use '@/styles/_helpers' as *;

.circleBox {
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    transform: translate(-50%, 50%);
    top: 0%;
    position: absolute;
  }

  @include mobile {
    transform: translate(-50%, 80%);
  }
}

.lastScreen {
  position: relative;
  transform: translate3d(150%, 42%, 0) scale(0.6) rotate(90deg);

  &.transition {
    transition: transform 1.3s ease-in-out;
  }

  @include mobile {
    display: none;
  }
}

.lastScreenActive {
  transform: translate3d(50%, 0, 0) rotate(0deg);
}

.lastAnimantionActive {
  transform: translate3d(45%, -10%, 0) scale(0.9);

  &.transition {
    transition: transform 60s ease-in-out;
  }
}

// ---------------------------------- //

.lottieAnimation {
  opacity: 0.6;
  min-width: 100vw;
  min-height: 100vw;
  transform: translate3d(0, 45%, 0) scale(0.9);
  contain: layout style paint;

  @include tablet {
    transform: translate3d(0, 70%, 0) scale(1.8);
  }

  @include mobile {
    transform: translate3d(0, 90%, 0) scale(1.8);
  }

  &.transition {
    transition: all 1.3s ease-in-out;
  }

  &.screen1,
  &.screen1_1,
  &.screen1_2,
  &.screen1_3,
  &.screen1_4 {
    transform: scale(1.2) rotate(45deg);
  }

  &.screen2_1 {
    transform: translate3d(45%, -37%, 0) scale(2.2);
  }

  &.screen2_2 {
    transform: translate3d(-55%, -46%, 0) scale(2.4);
  }

  &.screen2_3 {
    transform: translate3d(36%, 50%, 0) scale(2);
  }

  &.screen2_4 {
    transform: translate3d(-55%, 29%, 0) scale(2.4);
  }

  &.screen2_5 {
    transform: translate3d(25%, -54%, 0) scale(2);
  }

  &.screen3 {
    transform: scale(1.15);
  }

  &.screen4 {
    transform: scale(1.25) rotate(90deg);
  }

  &.screen5 {
    transform: translate3d(0, 0, 0) scale(1.15) rotate(180deg);
  }

  &.screen6,
  &.screen7 {
    opacity: 0;
    transform: translate3d(-70vw, 0, 0) scale(0) rotate(0deg);
  }
}
