@use '@/styles/_helpers' as *;

.circleBox {
  z-index: 9;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadowBox {
  transition: all 1.3s ease-in-out;
  transform: translateY(55vh) scale(0.6) rotate(90deg);
  position: relative;

  &.active {
    transform: translateY(0) scale(0.9) rotate(0deg);
  }
}

.shadow {
  position: absolute;
  width: 90%;
  height: 90%;
  background: radial-gradient($background 50%, transparent 80%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.circleImg {
}
