@use '@/styles/_helpers' as *;

.circleBox {
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;

  @include tablet {
    transform: translate(-50%, 70%);
    top: 0%;
    position: absolute;
  }

  @include mobile {
    transform: translate(-50%, 120%);
  }

  // Класс для улета обёртки влево на седьмом экране и далее
  // Планета закручивается, уменьшается и улетает влево
  &.exitLeft {
    transform: translate(-120%, -50%) scale(0) rotate(130deg);
    opacity: 0;
  }
}

.lottieAnimation {
  opacity: 0.6;
  min-width: 100vw;
  min-height: 100vw;
  will-change: transform, opacity;

  @include tablet {
  }
}

.lastScreenLottieAnimation {
  position: absolute;
  bottom: -800px;
  right: -500px;
  max-width: 1300px;
  max-height: 1300px;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: hide2 0.5s ease-in-out forwards;

  &.lastScreenActive {
    animation: show2 1s ease-in-out 0.3s forwards;
  }
}

@keyframes show2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes hide2 {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
