@use '@/styles/_helpers' as *;

.modalBox {
  position: absolute;
  top: 11.3em;
  right: -3em;
  z-index: 99;
  border-radius: 11.455px;
  border: 0.975px solid $neutral-stroke-grey-main;
  background: var(--neutral-black-main, #151823);
  box-shadow: 0px 12px 24px 0px rgba(12, 14, 20, 0.16);
  padding: 1.2em;
  width: 270px;
  font-size: 16px;

  @include laptop {
    font-size: 13px;
  }

  @include tablet {
    top: 52%;
    right: -1em;
  }

  @include mobile {
    top: 55%;
    width: 170px;
    font-size: 10px;
    right: 2em;
  }

  img {
    width: 1.5em;
    height: 1.5em;
  }

  opacity: 0;
  animation: hideTranslate 0.5s ease-in-out forwards;

  &.active {
    animation: showTranslate 0.5s ease-in-out 3.1s forwards;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4em;

  > img {
    width: 1em;
    height: 1em;
  }

  > span {
    color: $neutral-white-main;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 133%;
  }
}

.inputsWrapper {
  padding: 0.5em 0;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.inputBox {
  h3 {
    display: flex;
    gap: 0.4em;
    align-items: center;
    font-size: 0.5em;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 0.6em;
  }
}

.input {
  border-radius: 7.01px;
  border: 0.876px solid var(--neutral-stroke-grey-main, #2c2f39);
  background: var(--neutral-black-main, #151823);
  padding: 0.75em 0.9em;
  color: var(--neutral-grey-main, #707e8f);
  font-size: 0.5em;
  font-weight: 400;
  line-height: 150%;
}

.buttonsBox {
  display: flex;
  gap: 0.6em;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.54em;
    padding: 0.18em 0.8em;
    border-radius: 7.273px;
    min-height: auto;
    height: 3em;
    gap: 0.3em;
  }
}
