@use '@/styles/_helpers' as *;

.contentBox {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @extend %fullScreenView;
  max-width: 830px;
  margin: 0 auto;

  text-align: center;
  align-items: center;

  @include laptop {
    padding-top: 170px;
  }

  @include tablet {
    margin-bottom: 300px;
  }

  @include mobile {
    padding-top: 150px;
    margin-bottom: 260px;
    min-height: fit-content;
    height: 100%;
  }

  button {
    font-size: 20px;

    @include mobile {
      font-size: 16px;
    }
  }

  .buttonsContainer {
    margin-top: 16px;
    display: flex;
    gap: 16px;

    a {
      &:not(:last-child) {
        margin-top: 1px;
      }

      transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        scale: 0.97;
      }
    }
  }

  h1 {
    font-size: 46px;
    line-height: 56px;
    color: $neutral-white-main;
    font-family: 'ZonaPro';
    font-weight: 400;
  }

  span {
    color: $accent-blue-main;
    font-family: 'ZonaPro';
    font-weight: 400;
  }

  > p {
    font-family: 'ZonaPro-Thin', 'ZonaPro';
    font-weight: 300;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-weight: 400;
    color: #ffffffb3;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
      max-width: 390px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 24px;
      max-width: 340px;
    }
  }
}

.screenshot {
  object-fit: cover;
  position: absolute;
  right: -75px;
  top: 40px;
  z-index: 9;
  scale: 0.7;
}

.connnectBtn {
  position: relative;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  h1 {
    font-size: 36px;
    line-height: 48px;
    color: $neutral-white-main;
    font-family: 'ZonaPro-Thin', 'ZonaPro';
    font-weight: 300;
  }
}
