@use '@/styles/_helpers' as *;

.contentBox {
  padding-top: 210px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  @extend %fullScreenView;
  max-width: 830px;
  margin: 0 auto;

  text-align: center;
  align-items: center;

  @include laptop {
    padding-top: 170px;
  }

  @include tablet {
    margin-bottom: 500px;
    padding-top: 140px;
    gap: 24px;
  }

  @include mobile {
    margin-bottom: 300px;
    min-height: fit-content;
    height: 100%;
  }

  .buttonsContainer {
    margin-top: 16px;
    display: flex;
    gap: 16px;

    a {
      &:not(:last-child) {
        margin-top: 1px;
      }

      transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        scale: 0.97;
      }
    }
  }

  h1 {
    font-size: 54px;
    line-height: 64px;
    color: $neutral-white-main;
    font-weight: 400;
    padding: 0 16px;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }

  span {
    color: $accent-blue-main;
    font-weight: 400;
  }

  > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffffbe;
    padding: 0 16px;

    @include tablet {
      font-size: 18px;
      line-height: 24px;
      max-width: 390px;
    }
  }
}

.chipBtn {
  gap: 10px;
  border-radius: 28px;
  font-weight: 400;
  padding: 8px 20px;
  width: fit-content !important;
  border: 1px solid rgba(255, 255, 255, 0.177);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5),
    inset 0 0 15px rgba(255, 255, 255, 0.08), 0 0 2px rgba(255, 255, 255, 0.1);

  img {
    filter: invert(1);
    margin-left: -2px;
  }
}

.screenshot {
  object-fit: cover;
  position: absolute;
  right: -75px;
  top: 40px;
  z-index: 9;
  scale: 0.7;
}

.connnectBtn {
  position: relative;
  z-index: 99;
}
