@use '@/styles/_helpers' as *;

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #1e212c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  border-top: 1px solid #2c2f39;
  z-index: 9999;

  @include tablet {
    align-items: flex-start;
    flex-direction: column;
    padding: 24px 16px;
    height: 180px;
    bottom: 0;
    position: absolute;
  }

  span {
    color: var(--neutral-grey-main, #707e8f);
  }

  ul {
    display: flex;
    gap: 24px;

    @include tablet {
      margin-top: 24px;
      flex-direction: column;
      gap: 16px;
    }

    li {
      display: flex;
    }

    a {
      transition: color 0.3s;
      text-decoration: underline;

      &:hover {
        color: $accent-blue-main;
      }

      &:active {
        color: #baa7f6b7;
      }
    }
  }
}
