@use '@/styles/_helpers' as *;

.footer {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 100px;
  background: #1e222f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;

  @include laptop {
    bottom: -20px;
  }

  @include tablet {
    align-items: flex-start;
    flex-direction: column;
    padding: 24px;
  }

  @include mobile {
    padding: 24px 16px;
    height: 160px;
  }

  span {
    color: var(--neutral-grey-main, #707e8f);
  }

  ul {
    display: flex;
    gap: 24px;

    @include mobile {
      margin-top: 24px;
      flex-direction: column;
      gap: 16px;
    }

    a {
      text-decoration: underline;
    }
  }
}
