@use '@/styles/_helpers' as *;

.globalBox {
  position: relative;
  z-index: 99;
  height: 100%;
  transition: transform 1.3s ease-in-out;
  transform: translateY(0%);

  &.screen1 {
    transform: translateY(calc(-100vh - 50px));
  }

  &.screen2_1,
  &.screen2_2,
  &.screen2_3,
  &.screen2_4,
  &.screen2_5,
  &.screen2_6 {
    transform: translateY(calc(-200vh - 120px));
  }
}
