@use '@/styles/_helpers' as *;

.contentBox {
  position: relative;
  z-index: 9;
  opacity: 0;
  animation: hideBlur 0.5s ease-in-out forwards;
  @extend %fullScreenView;

  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    margin-bottom: 100px;
    min-height: fit-content;
  }

  &.active {
    animation: showBlur 0.5s ease-in-out 0.5s forwards;

    .textBox {
      animation: showBlur 0.5s ease-in-out 0.5s forwards;
    }

    .mobilePlanet {
      animation: planetMobile 1s ease-in-out 0.5s forwards;
    }
  }
}

.mobilePlanet {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: -100px;
    left: -10%;
    transform: rotate(-45deg);
  }

  @include mobile {
    left: -30%;
  }
}

@keyframes planetMobile {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(-45deg);
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 2.6em;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 769px) {
    &.hide {
      opacity: 0;
      // filter: blur(5px);
    }
  }

  @include tablet {
    flex-direction: column-reverse;
    gap: 0;
  }

  @include mobile {
    > div:first-child {
      margin-left: 40px;
    }
  }
}

.textBox {
  opacity: 0;
  animation: hideBlur 0.5s ease-in-out forwards;

  h3 {
    line-height: 125%;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.75em;

    @include tablet {
      text-align: center;
      font-size: 1.5em;
    }
  }

  p {
    line-height: 150%;
    font-size: 1em;
    font-weight: 400;
    max-width: 477px;

    @include tablet {
      text-align: center;
      max-width: 557px;
      margin-bottom: 2.3em;
    }

    @include mobile {
      max-width: 300px;
    }
  }
}
