@use '@/styles/_helpers' as *;

.button {
  outline: none;
  border: 0;
  border-radius: 12px;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  transition: background-color 0.2s, opacity 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: $font-family;

  @include mobile {
    width: calc(100% - 32px);
  }
}

.disabled {
  opacity: 0.3;

  &:hover {
    background: $accent-blue-main !important;
    cursor: not-allowed;
  }
}

.fullWidth {
  width: 100%;
}

.contained {
  // color: $neutral-white-main;
  color: $background;
  background: $accent-blue-main;

  &:hover {
    background: #8477af;
  }

  &:active {
    background: #a393d8;
  }
}

.outlined {
  color: $neutral-white-main;
  background: $neutral-white-background-main;
  border: 1px solid $neutral-stroke-grey-main;

  &:hover {
    background: #252833;
  }

  &:active {
    background: #2c2f39;
  }
}

.red-contained {
  background: #9c3d3d;
  color: $neutral-white-main;

  &:hover {
    background: #7a3437;
  }

  &:active {
    background: #5d2b30;
  }
}

.red-outlined {
  border: 2px solid var(--additional-red-main, #9c3d3d);
  color: var(--additional-red-main, #9c3d3d);
  background: #1e212c;

  &:hover {
    background: #252833;
  }

  &:active {
    background: #2c2f39;
  }
}

.small {
  max-height: 48px;
  padding: 12px 16px;
  letter-spacing: 0.1px;
}

.small-medium {
  max-height: 56px;
  padding: 16px;
  letter-spacing: 0.1px;
}

.medium {
  max-height: 64px;
  padding: 20px 24px;
  letter-spacing: 0.1px;

  @include mobile {
    padding: 12px 16px;
  }
}

.large {
  max-height: 80px;
  padding: 24px 56px;
  letter-spacing: 0.1px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  border-radius: 24px;
}
